body {
    background-color: aliceblue;
}
.navbar{
    background-color: navy;
    height: auto;
}
.navbar-brand {
    font-weight: bold;
    font-size: 20pt;
}
main {
    height: auto;
    min-height: 500px;
    background-color: aliceblue;
    margin-top: 10vh;
}
.navbar-dark .navbar-nav .nav-link{
    color:rgb(255,255,255)
}
dropdown-menu, show {
    background-color: #EEEEEE; 
}
footer {background-color: navy;
height: 100px;
width: 100%;}


@media only screen  and (min-width: 220px) and (max-width: 1000px){
    .navbar-brand { font-size: 12pt;
    }   

    footer  {
        position: relative;
    }
}
